[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = ">=1.2.0"
dblpy = ">=0.3.4"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
